.modal-dialog
 .modal-content
  .modal-header
   button.close(data-dismiss='modal',type='button')
    span(aria-hidden='true') &times
    span.sr-only Close
   h4.modal-title Login
  .modal-body
   form(role='form')
    div.form-group
     label(for='username') Username
     input.form-control(type='text',id='username',placeholder='Username')
    div.form-group
     label(for='username') Password
     input.form-control(type='password',id='password',placeholder='Password')
  .modal-footer
   .button.btn.btn-default(type='button',data-dismiss='modal') Close
   .button.btn.btn-primary(id='submitLogin') Submit