doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/vendors/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
    script(src='/vendors/jquery/dist/jquery.min.js')
    script(src='/vendors/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendors/underscore/underscore.js')
    script(src='/vendors/backbone/backbone.js')
    script(src='/vendors/backbone.babysitter/lib/backbone.babysitter.min.js')
    script(src='/vendors/backbone.wreqr/lib/backbone.wreqr.min.js')
    script(src='/vendors/leaflet/dist/leaflet.js')
    script(src='/vendors/marionette/lib/backbone.marionette.min.js')
    script(src='/js/utils/backbone.pebn.js')
    script(src='/js/utils/encoder.js')
    //App
    script(src='/js/app.js')
    //Views

    script(src='/js/views/home.js')
    script(src='/js/views/contact.js')
    script(src='/js/views/about.js')
    script(src='/js/views/footer.js')
    script(src='/js/views/signin.js')
    script(src='/js/views/navigation.js')
    script(src='/js/views/modal/login.js')
    script(src='/js/views/modal/modal.js')
    //APP Start
    script(src='/js/starter.js')
